.col{
  float: left;
  width: 30%;
  border-right: 1px solid #dedede;
  margin-right: 5px;
}

*{
  padding: 0;
  margin: 0;
}

.selected{
  background: green;
}
.colID{
  width: 7%
}

.col:last-child{
  border: none;
}
.header{
  font-weight: 600;
  padding: 5px 0;
  cursor: pointer;
}
.row{
  padding: 5px;
}